*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background: #F8F8F8 0% 0% no-repeat padding-box;

}
header{
    position: sticky;
    top: 0;
    z-index: 1;
}
.header{
    background-color: #fff;
    box-shadow: 0px 6px 12px #0000001f;
    opacity: 1;
    height: 70px;
}

.logo img{
    width: 130px;
    margin-top: 15px;
    margin-right: 20px;
}
.input-group{
   position: relative; 
    margin-top: 10px;
    width: 590px;
}
.input-group input{
    border: 1px solid #B4B4B4;
    border-radius: 7px;
    background: #F5F5F5;
    padding: 11px;
    font: normal normal 16px/19px Montserrat;
    font-weight: 0;

}
*::placeholder {
	/* modern browser */
	text-align: left;
    font: normal normal  14px/19px Inter UI;
    color: #B4B4B4;
}
.search{
    position: absolute;
    top: 21px;
    left: 947px;
}
.icon_list{
    display: flex;
    list-style-type: none;
    padding: 0;
}
.icon_item{
    padding: 14px;
}
.icon_link{
    text-decoration: none;
}
/* --------------------------------------------------------------------------------------------------------------- */
.leftfixed{
    position: fixed;
    width: 20%;
}
.midcard{
    position: relative;
    left: 305px;
}
.rightsection{
    position: fixed;
    right: 190px;
    width: 23%;
}
.leftsection{
    margin: 0px 100px;
}
.card{
    box-shadow: 0px 6px 12px #0000001f;
    border-radius: 8px;
}
.card .fake{
    border: 1px dashed #B4B4B4;
    border-radius: 2px;
    padding: 4px 10px;
    color: #B4B4B4;
    margin: 0px 4px;
}
.lastpadding h5{
    font: normal normal bold 20px/19px Montserrat;
    color: #231F20; 
}
.lastpadding p{
    font: normal normal 100 14px/18px Montserrat;
    color: #444444;
}
.lastpadding ul{
    list-style-type: none;
    display: flex;
    padding-left: 0;
}

.progress{
    height: 3px;
    margin-top: 18px;
  position: relative; 
}
.progress-bar{
    width: 70%;
    background:#228993;
}
.card .left{
    font: normal normal 200 10px/15px Montserrat;
    color: #888888;
   position: absolute;

}
.card .right{
  position: absolute; 
  font: normal normal 200 10px/15px Montserrat;
  color: #888888;
  right: 5px;
    
}
.card .top{
   position: absolute;
   font: normal normal 11px/19px Montserrat;
   color: #231F20;
   top: 116px;
   left: 172px;
    
}
.top span{
    font: normal normal 9px/13px Montserrat;
    color: #888888;
}
.top::first-line{
    color: black;
    font-weight: bold;
}
.lastpadding{
    padding-bottom: 30px;
}

.secondcard{
    box-shadow: 0px 6px 12px #0000001f;
    border-radius: 8px;
    margin-top: 20px;
}
.discover{
    font: normal normal 500 14px/18px Montserrat;
     color: #888888;
}
.discover img{
    width: 15%;
}
.discover span{
    color: #888;

}
.discover  .one{
    font: normal normal 500 14px/18px Montserrat;
    color: #228993;
}
.discover hr{
    margin-bottom: 0;
    color: #888;
}
.headingleft h5{
    margin-top: 13px;
    font: normal normal bold 22px/24px Montserrat;
    color: #231F20;

}
.headingright p{
    font: normal normal normal 10px/15px Montserrat;
    color: #231F20;
    margin-left: 45px;
    margin-top: 12px;
    
}
.headingright span{
    font: normal normal 12px/15px Montserrat;
    color: #228993;
}
.headingright img{
    width: 30px;
}
.tophead{
    background: #fff;
    border-radius: 10px;
}
.midcard{
    box-shadow: 0px 6px 12px #0000001f;
    border-radius: 10px;
    background: white;
    
}
.interact{
    text-decoration: none;
}
.middle{
    margin-top: 10px;
    background: white;
}
.middle p{
    font: normal normal bold 15px/19px Montserrat;
    font-weight: 900;
    color: #231F20;
    margin-bottom: 0px;
    margin-left: 10px;

}
.middle img{
    float: right;
    margin-top: -15px;
}
.middle span{
    font: normal normal 100 13px/18px Montserrat;
    color: #B4B4B4;
    margin-left: 10px;
}
.midcard hr{
    margin: 10px;
    height: 2px;
}
/*-----------------------------------------------------------------------------------------------------------*/
#image-size{
    height:44px;
    margin-top:-48px;
    margin-left:-10%;
}
#button-color2{
    border: 1px solid #228993;
    border-radius: 4px;
    padding: 9px;
    text-align: center;
    font: normal normal 11px/15px Montserrat;
    color: #228993;
}
#button-color1{
    text-align: center;
    font: normal normal 11px/15px Montserrat;
    color: #FFFFFF;
    background: #228993 0% 0% no-repeat padding-box;
    border-radius: 4px;
    padding: 9px;
}
#right-card-font{
    font: normal normal 300 12px/15px Montserrat;
    color: #888888;
}
.button-width{
    width:55px;
    margin-left:-52px;
    margin-right:3%;
}

#right-link{
    text-decoration:none;
    margin: -4px;
    text-align: left;
    font: normal normal 600 12px/15px Montserrat;
    color: #0074DB;
}

.profile h6{
    font: normal normal bold 17px/19px Montserrat;
    color: #231F20;
}
.People{
    font: normal normal bold 13px/18px Montserrat;
    color: #231F20;
}
.card-shadow{
    box-shadow:0px 2px 2px #00000029 ;
}

#recent-font{
    font: normal normal 500 14px/17px Rubik;
    color: #444444;
}
.text-left hr{
    margin: 5px;
}

#float-right{
    float:right;
    color:#228993;
}

#float-right2{
    float:right;
    color:rgb(197, 192, 192);
    margin-top:6px;
    font-size:x-small;
    font-weight:normal;

}
.first hr{
    margin: 0;
}


#People{
    text-align: left;
    font: normal normal bold 14px/18px Montserrat;
    color: #231F20;
}

.image img{
    height:44px;
    margin-top:-48px;
    margin-left:-10%;
}
#color2{
    color: #228993;
    background: white;
    border: 2px solid;
    padding: 7px;
    font-size: 11px;
}
#color1{
    background-color: #228993;
    color: white;
    padding: 9px;
    font-size: 11px;
}
#subfont{
    text-align: left;
    font: normal normal 300 12px/15px Montserrat;
    color: #888888;
}

